html{
	height: 100%;
	margin: 0;
}

body{
	font-family: Arial, Helvetica,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}


div{
	background-image: radial-gradient(rgb(247, 157, 217), rgb(114, 210, 248));
	position: absolute;
	height: 500px;
	top: 10px;
	left: 0px;
	width: 1440px;
	border: 5px solid rgb(60, 61, 60);
	padding: 25px;
	margin: 20px;
  }

.heading{
	position: absolute;
	top:20px;
	left: 600px;
    color: #000;
	font: bold 20px/1 "Calibri", sans-serif;
	font-size: 35px;
	font-weight: normal;
}



.loca {
	text-align: center;
	position: absolute;
	left: 20px;
	top: 100px;
	width: 350px;
	height: 40px;
	margin-bottom: 5px;
}



.balconya {
	text-align: center;
	position: absolute;
	right: 20px;
	top: 100px;
	width: 350px;
	height: 40px;
	margin-bottom: 5px;
}

.sqfta {
	text-align: center;
	position: absolute;
	left: 20px;
	top: 270px;
	width: 350px;
	height: 40px;
	margin-bottom: 5px;
}

.typea {
	text-align: center;
	position: absolute;
	right: 20px;
	top: 270px;
	width: 350px;
	height: 40px;
	margin-bottom: 5px;
}





.butts{
	position: absolute;
	background: #f9f9f9;
   	border: 2px solid #000000;
	margin-top: 150px;
    padding: 10px 36px;
    color: #000000;
    display: inline-block;
   	font: bold 20px/1 "Calibri", sans-serif;
    text-align: center;
	top: 250px;
	left: 680px;
}



.butts:active{
    box-shadow: 0 0;
}




/* Result */
.results{
    padding: 30px 0 0;
	flex: 1 0 auto;
	font: bold 20px/1 "Calibri", sans-serif;
	font-size: 35px;
	font-weight: normal;
}



.myslider {
	
	position: absolute;
	background: #bad3f3 ;
	width: 160px;
	height: 40px;
	top: 175px;
	right: 120px;
	opacity: 2;
}

.para1{
	text-align: center;
	position: absolute;
	width: 320px;
	height: 60px;
	top: 195px;
	right: 40px;
	margin-bottom: 5px;


}



.myslider:hover {
	opacity: 1;
}

.myslider1 {
	
	position: absolute;
	background: #bad3f3 ;
	width: 160px;
	top: 175px;
	height: 40px;
	left: 110px;
	opacity: 2;
}

.para2{
	text-align: center;
	position: absolute;
	width: 300px;
	top: 195px;
	height: 60px;
	left: 40px;
	margin-bottom: 5px;


}



.myslider1:hover {
	opacity: 1;
}

